body {
    background:#252839;
    overflow-x: hidden;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
h3 {
    margin:8px;
    color: lightgrey;
    text-align: center;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.3em 0.5em;
    padding: 0;
}
a{
	color: #f2b632;
	text-align: left;
    font-family: 'Helvetica', sans-serif;
    font-size:1.5rem;
}
p{    
    color:#b5b5b7;
    font-family: 'Helvetica', sans-serif;
    font-weight: 200;
    margin-left: 12px;
    margin-right: 12px;
    text-align: left;
    font-size: 1.5rem;
}
h1, h2, h3, h4 {    
    margin:8px;
    color: lightgrey;
    text-align: center;
}
.viz {
    display:inline-block;
    vertical-align: center;
}
.flex-item {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
}
.flex-item p {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.flex-item img{
    margin-top: 15px;
}
.flex-text {
    width: 30%;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
