<link rel="stylesheet" href="/../assets/css/nav.css">
<nav class="navbar">
	<span class="navbar-toggle" id="js-navbar-toggle">
		<i class="fas fa-bars"></i>
    </span>
	<a href="/" class="logo">
        <span style="font-size: 36px">
            <i class="fas fa-pastafarianism"></i>
        </span>
        Sean's Spaghetti
    </a>
	<ul class="main-nav" id="js-menu">
		{% for item in site.data.navigation %}
			<li><a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a></li>
		{% endfor %}
	</ul>
</nav>
<script type="text/javascript">
	let mainNav = document.getElementById('js-menu');
	let navBarToggle = document.getElementById('js-navbar-toggle');

	navBarToggle.addEventListener('click', function () {
		mainNav.classList.toggle('active');
	});
</script>