body {
    background: #252839;
}
h2, h3 {
    color: aliceblue;
    font-family: Calibri, sans-serif;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
p {
    color: #b5b5b7;
    font-family: Calibri, sans-serif;
    font-size: 16px;
}
a {
    color:#f2b632;
	text-align:center;
}

 .grid-container {
    display: grid;
    grid-template-columns: [col11] 5% [col2] 90% [col3] 5% [col-end];
    grid-template-rows: [row1] 9fr [row2] 1fr [row-end];
    width: 100vw;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: radial-gradient(circle, transparent 20%, #252839),
        url(../images/chief-bg.png); 
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 600px;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
}
    
.project-container {
    margin-top: 10px;
    grid-column-start: col2;
    grid-column-end: col3;
    grid-row-start: row1;
    grid-row-end: row2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
}

.flex-item {
    width: 62%;
    height: 40%;
    margin: 10px;
}
.flex-item img{
    margin-top: 10px;
    object-fit:contain;
}
    
    
.footer {
    grid-column-start: col2;
    grid-column-end: col3;
    grid-row-start: row3;
    grid-row-end: row-end;
    justify-self: center;
    margin-bottom: 10px;
}


@media (max-width: 865px) {
    .header {
        height: 500px;
    }
    h2, h3{
        font-size: 3vw;
    }
    p {
        font-size: 20px:
    }
    .flex-item {
        width:90%;
        
    }
}
/*
midsize screen
*/
@media (max-width: 720px) {
    .header {
        height: 400px;
    }
}

.post-previews {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.post-previews li {
    background-color:aliceblue;
    margin: 10px;
}
.recent {
    margin-top: 10px;
    grid-column-start: col2;
    grid-column-end: col3;
    grid-row-start: row2;
    grid-row-end: row3;
}